
# 数据加密，根据模块划分
encryption:
  user:
    version: "V1"
    key: "1234567890"
  resource:
    version: "V1"
    key: "1234567890"
  runner:
    version: "V1"
    key: "1234567890"

ldap:
  url: "ldap://127.0.0.1:389"
  base_dn: "DC=example,DC=com"
  bind_dn: "CN=cn,OU=ou,DC=example,DC=com"
  bind_password: "1234567890"
  username_attribute: "sAMAccountName"
  mail_attribute: "mail"
  display_name_attribute: "displayName"
  title_attribute: "title"
  group_name_attribute: "cn"
  user_filter: "(&(sAMAccountName={input})(!(UserAccountControl=514)))"
  group_filter: "(|(member={dn}))"

session:
  session_encrypted_key: "1234567890Key"
  cookie:
    domain: ".example.com"
    name: "ecmdb-token-key"

redis:
  addr: "ecmdb-redis:6379"
  password: "1234567890"
  db: 0

casbin:
  redis:
    addr: "ecmdb-redis:6379"
    db: 1
    password: "1234567890"

mongodb:
  dsn: mongodb://mongo:27017/ecmdb?authSource=admin
  db: ecmdb
  username: ecmdb
  password: 123456

mysql:
  dsn: ecmdb:123456@tcp(ecmdb-mysql:3306)/ecmdb?charset=utf8mb4&parseTime=True&loc=Local&timeout=5s

kafka:
  network: tcp
  addresses:
    - ecmdb-kafka:9092

etcd:
  endpoints:
    - ecmdb-etcd:2379

minio:
  endpoint: minio:9000
  access_key_id: minio
  secret_access_key: minio123
  use_ssl: false

# 用于查询企业微信API
wechat:
  corp_id: ""
  corp_secret: ""
  agent_id: 1000002

# 用于飞书发送消息通知
lark:
  app_id: ""
  app_secret: ""
  callback:
    frontend_url: http://ecmdb-web:80/logicflow-preview
    debug: false

# 如果工单需要自动化任务必须开启
cronjob:
  enabled: false

grpc:
  server:
    ecmdb:
      name: "ecmdb"
      listen_addr: "0.0.0.0:8097"
      auth_token: "1234567890"
  client:
    ealert:
      name: "ealert"
      auth_token: "1234567890"