{
  "schema": "2.0",
  "config": {
    "wide_screen_mode": true
  },
  "header": {
    "title": {
      "tag": "plain_text",
      "text_size": "heading",
      "content": "{{.Title}}"
    },
    "template": "blue"
  },
  "body": {
    "elements": [
      {
        "tag": "div",
        "fields": [
          {{- range $index, $field := .Fields}}
          {
            "is_short": {{.IsShort}},
            "text": {
              "tag": "{{.Tag}}",
              "content": "{{.Content}}"
            }
          }{{if not (last $index $.Fields)}},{{end}}
          {{- end}}
        ]
      }
      {{- if not .HideForm }},
      {
        "tag": "hr"
      },
      {
        "tag": "form",
        "name": "approval",
        "elements": [
          {
            "tag": "input",
            "name": "comment",
            "placeholder": {
              "tag": "plain_text",
              "content": "请输入撤销原因备注，选填"
            },
            "max_length": 200,
            "width": "fill"
          },
          {
            "tag": "column_set",
            "flex_mode": "bisect",
            "background_style": "default",
            "horizontal_spacing": "8px",
            "horizontal_align": "right",
            "columns": [
              {
                "tag": "column",
                "width": "auto",
                "vertical_align": "top",
                "vertical_spacing": "8px",
                "background_style": "default",
                "elements": [
                  {
                    "tag": "button",
                    "action_type": "form_submit",
                    "name": "revoke",
                    "text": {
                      "content": "撤销",
                      "tag": "lark_md"
                    },
                    "value": {
                      {{- range $index, $callback := .CallbackValue}}
                      "{{$callback.Key}}": "{{$callback.Value}}"{{if not (last $index $.CallbackValue)}},{{end}}
                      {{- end}}
                    },
                    "confirm": {
                        "title": {
                            "tag": "plain_text",
                            "content": "是否进行撤销操作"
                        }
                    },
                    "type": "danger"
                  }
                ]
              },
              {
                "tag": "column",
                "width": "auto",
                "vertical_align": "top",
                "vertical_spacing": "8px",
                "background_style": "default",
                "elements": [
                  {
                    "tag": "button",
                    "action_type": "form_submit",
                    "name": "progress",
                    "text": {
                      "content": "查看进度",
                      "tag": "lark_md"
                    },
                    "value": {
                      {{- range $index, $callback := .CallbackValue}}
                      "{{$callback.Key}}": "{{$callback.Value}}"{{if not (last $index $.CallbackValue)}},{{end}}
                      {{- end}}
                    },
                    "type": "primary"
                  }
                ]
              }
            ],
            "margin": "12px 0px 0px 0px"
          }
        ]
      }
      {{- end }}
    ]
  }
}
